build/
build-*/
out/
obj/
bin/Release/
bin/Debug/
Release/
Debug/
**/CMakeFiles/
**/CMakeCache.txt
*.exe
*.dll
*.lib
*.exp
*.obj
*.pdb
*.ilk
*.3ds
*.fbx
*.blend
*.blend1
*.glb
*.gltf
*.stl
*.ply
*.3D
*.mesh
*.bin
**/.asx/
**/node_modules/
*.pyc
__pycache__/
.deepseek/
